img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 290px;
}

.item {
  position: absolute;
  display: block;
  transition: all .5s;
  width: 100%;
}
