p {
  border: 5px royalblue solid;
  color: tomato;
  line-height: 2; }

p:after {
  content: "Muhaha"; }

div {
  background: #c10;
  -webkit-box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black; }
